a {
	color: #000276;
}

a:visited {
	color: #0f11aa;
}

a:hover {
	color: #0069BA;
}

.primary-navigation a:hover, .primary-navigation a:focus, .primary-navigation a:active {
	color: #0069BA;
}

.author-info {
	background-color: white;
}

button,
input,
select,
textarea {
    font-size: 100%;
    /* Corrects font size not being inherited in all browsers */
    margin: 0;
    /* Addresses margins set differently in IE6/7, F3/4, S5, Chrome */
    vertical-align: baseline;
    /* Improves appearance and consistency in all browsers */
    color: #cfcfcf;
}
button {
    border: 1px solid;
    border-color: #ccc #ccc #bbb;
    border-radius: 3px;
    background: #e6e6e6;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), inset 0 15px 17px rgba(255, 255, 255, 0.5), inset 0 -5px 12px rgba(0, 0, 0, 0.05);
    color: rgba(0, 0, 0, 0.8);
    cursor: pointer;
    /* Improves usability and consistency of cursor style between image-type 'input' and others */
    -webkit-appearance: button;
    /* Corrects inability to style clickable 'input' types in iOS */
    font-size: 12px;
    font-size: 1.2rem;
    line-height: 1;
    padding: 0.6em 1em 0.4em;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
}
input[type="button"],
input[type="reset"],
input[type="submit"] {
    border: 1px solid;
    border-color: #ccc #ccc #bbb;
    border-radius: 3px;
    background: #e6e6e6;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), inset 0 15px 17px rgba(255, 255, 255, 0.5), inset 0 -5px 12px rgba(0, 0, 0, 0.05);
    color: rgba(0, 0, 0, 0.8);
    cursor: pointer;
    /* Improves usability and consistency of cursor style between image-type 'input' and others */
    -webkit-appearance: button;
    /* Corrects inability to style clickable 'input' types in iOS */
    font-size: 12px;
    font-size: 1.2rem;
    line-height: 1;
    padding: 0.6em 1em 0.4em;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
}
button: hover {
    border-color: #ccc #bbb #aaa;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.8), inset 0 15px 17px rgba(255, 255, 255, 0.8), inset 0 -5px 12px rgba(0, 0, 0, 0.02);
}
input[type="button"]: hover, input[type="reset"]: hover, input[type="submit"]: hover {
    border-color: #ccc #bbb #aaa;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.8), inset 0 15px 17px rgba(255, 255, 255, 0.8), inset 0 -5px 12px rgba(0, 0, 0, 0.02);
}
button: focus {
    border-color: #aaa #bbb #bbb;
    box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5), inset 0 2px 5px rgba(0, 0, 0, 0.15);
}
input[type="button"]: focus, input[type="reset"]: focus, input[type="submit"]: focus {
    border-color: #aaa #bbb #bbb;
    box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5), inset 0 2px 5px rgba(0, 0, 0, 0.15);
}
button: active {
    border-color: #aaa #bbb #bbb;
    box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5), inset 0 2px 5px rgba(0, 0, 0, 0.15);
}
input[type="button"]: active, input[type="reset"]: active, input[type="submit"]: active {
    border-color: #aaa #bbb #bbb;
    box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5), inset 0 2px 5px rgba(0, 0, 0, 0.15);
}
input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="search"] {
  color: #666;
  border: 1px solid #ccc;
  border-radius: 3px; 
 }

textarea {
  color: #666;
  border: 1px solid #ccc;
  border-radius: 3px;
}

input[type="text"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="password"]:focus, input[type="search"]:focus {
  color: #111; 
}

textarea:focus {
  color: #111;
}

#comments {
  background-color: rgba(255,255,255,0.7);
}

#content {
	background: whitesmoke;
	color: #3a3a3a; 
}

#content :not('.mejs-inner') button {
  -moz-box-shadow: inset 0px 1px 3px 0px #91b8b3 !important;
  -webkit-box-shadow: inset 0px 1px 3px 0px #91b8b3 !important;
  box-shadow: inset 0px 1px 3px 0px #91b8b3 !important;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #768d87), color-stop(1, #6c7c7c)) !important;
  background: -moz-linear-gradient(top, #768d87 5%, #6c7c7c 100%) !important;
  background: -webkit-linear-gradient(top, #768d87 5%, #6c7c7c 100%) !important;
  background: -o-linear-gradient(top, #768d87 5%, #6c7c7c 100%) !important;
  background: -ms-linear-gradient(top, #768d87 5%, #6c7c7c 100%) !important;
  background: linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%) !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#768d87', endColorstr='#6c7c7c',GradientType=0) !important;
  background-color: #768d87 !important;
  -moz-border-radius: 5px !important;
  -webkit-border-radius: 5px !important;
  border-radius: 5px !important;
  border: 1px solid #566963 !important;
  display: inline-block !important;
  cursor: pointer !important;
  color: #ffffff !important;
  font-family: Arial !important;
  font-size: 15px !important;
  font-weight: bold !important;
  padding: 11px 23px !important;
  text-decoration: none !important;
  text-shadow: 0px -1px 0px #2b665e !important;
  &:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #6c7c7c), color-stop(1, #768d87));
    background: -moz-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
    background: -webkit-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
    background: -o-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
    background: -ms-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
    background: linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6c7c7c', endColorstr='#768d87',GradientType=0);
    background-color: #6c7c7c;
  }
}

.fimage-title-large .title {
	color: #F3F6F9;
}

#header-surround {
	color: #f8f8f8;
}

hr {
	border-top-color: #00398F;
}

.menu-toggle {
	color: #0069BA;
}

#page {
	background-color: transparent;
}

.primary-menu li.current-menu-item a {
  border-bottom-color: #000276;
}
 
.primary-menu li.current-menu-item a:visited {
    border-bottom-color: #0f11aa;
}

.primary-menu .menu-item .menu-item a:hover {
	background-color: #e5e5e5;
	color: #6e6e6e;
}

    .primary-menu .children a .menu-item-bg, .primary-menu .children a:visited .menu-item-bg {
	color: #545454;
}


.primary-menu .children a:hover .menu-item-bg, .primary-menu .children a:hover .menu-item-bg {
	color: #6e6e6e;
}

.primary-navigation ul .children li:last-child > a {
	border-bottom-color: darkblue;	
}

.primary-navigation .nav-menu {
	border-bottom-color: rgba(255, 255, 255, 0.2);
}

.primary-navigation ul ul a {
	background-color: #fefefe; 
}

.site-description {
	color: white;
}

.site-info {
	color: #383838;
}

.site-title {
	color: white;
}

h2 {
	color: #000200;	
}

h3, h4, h5, h6 {
	color: #007539;
}

.widget-area a, .widget-area a:visited {
	color: #0069BA;	
}

.widget-area a:hover {
	color: #00398F;
}

.entry-title, .entry-title a, .entry-title a:visited {
	color: #004F13;
}

@media only screen and (max-width: 781px) {
  .primary-navigation .menu-item .menu-item a, .primary-menu .menu-item .menu-item a:hover {
    background-color: transparent;
  }
}