/*
	phpBb Styling
*/
.forum.type-forum h1 {
	display: none;
}

#bbpress-forums {
	margin-top: -40px;
}

#bbpress-forums ul.bbp-forum-visibility-hidden, #bbpress-forums ul.status-hidden {
    display: none !important;
}

#bbpress-forums span {
	display: inline-block;
}

#bbpress-forums a {
	display: inline;
}

#bbpress-forums .bbp-breadcrumb {
    text-transform: uppercase;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
    width: 100%;
    margin-bottom: 10px;

}
#bbpress-forums .bbp-breadcrumb p > a {
	float: left;
	font-size: 1.2em;
	padding-right: 20px;
}
#bbpress-forums .bbp-breadcrumb p > span {
	width: auto;
	float: left;
	padding-right: 20px;
}
#bbpress-forums .bbp-breadcrumb .bbp-breadcrumb-current {
	font-size: 1.2em;
	font-weight: bold;
}
#bbpress-forums #subscription-toggle {
	clear: both;
    font-weight: normal;
    padding: 4px 8px;
    border: 1px solid grey;
    border-radius: 6px;
    background-color: #efefef;
    display: inline-block;
    color: #101010;
}
#bbpress-forums #subscription-toggle .is-subscribed a {
    color: #ef0032;
}
#bbpress-forums .bbp-reply-content #subscription-toggle {
	width: auto;
	height: auto;
	clear: none;	
}
#bbpress-forums .bbp-forum-title {
	font-size: 1.25em;
	color: black;
}
#bbpress-forums .bbp-forum-title .bbp-forums-list {
	font-size: 1.1em;
	display: block;
}
#bbpress-forums div.bbp-reply-author {
	border-right: 3px solid #555;
	background: #EFEFEF;
	width: 155px !important;
	margin-right: 10px !important;
}
#bbpress-forums .bbp-template-notice, #bbpress-forums div.indicator-hint {
    background-color: transparent;
    border-width: 2px;
}

